body,
html,
h1,
h2,
img,
p {
    margin: 0;
    padding: 0;
    border: 0;
}
* {
    box-sizing: border-box;
}
.float-left {
    display: block;
    position: relative;
    float: left;
}
#main {
    width: 1024px;
    margin: 35px auto 15px auto;
}
#main:after {
    content: '';
    clear: both;
    display: table;
 
}

#main:before {
    content: '';
    clear: both;
    display: table;   
}
/*HEADER*/

.header {
    width: 1024px;
    margin: 25px auto;
    background: #c2c2c2;
    border-radius: 10px;
    padding: 0 10px 15px 10px;
    box-sizing: border-box;
}

.header .header-title {
    text-align: center;
    padding: 10px 0;
}

#navigation {
    background: #ebebeb;
    border-radius: 7px;
}

#navigation .main-navigation {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

#navigation .navigation-link {
    text-decoration: none;
    color: #000;
    padding-right: 10px;
}

.fixed-container {
    position: fixed;
    top: 0;
    right: 10%;
    display: block;
    width: 250px;
    padding: 15px 20px;
    background: #709f41;
    color: #fff;
    border-radius: 0 0 10px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
}


/*CONTAINER*/

.left-side-img,
.right-side-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image-title {
    position: absolute;
    bottom: 0;
    background: #000;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    font-size: 20px;
}

.article-item {
    background: #ffffff;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 15px;
    position: relative;
    display: block;
}
.article-item:first-child {
    margin-top: 15px;
}

.container .article-item:nth-child(3) {
    margin-bottom: 0;
}

.article-title ~ .description {
    line-height: 1.5;
    padding: 0 50px 10px 50px;
}

.article-item > .article-title {
    text-align: center;
}

.article-item + .blue {
    background: #b7e6e3;
}

.close {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #d55459;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    right: -10px;
}


/*FOOTER*/

.footer {
    clear: both;
    width: 1024px;
    margin: 0 auto;
    background: #ebebeb;
    border-radius: 7px;
}

.footer .copyright {
    text-align: right;
    padding: 10px 15px 10px 0;
}
.col-20-percent {
    width: 20%;
    border: 3px solid black;
    border-radius: 10px;
    min-height: 350px;
}
.col-60-percent {
    width: 59%;
    background: #709f41;
    border-radius: 10px;
    margin: 0 5px;
    padding: 0 15px;
}

.guns {
    display: block;
    overflow: hidden;
    width: 1024px;
    margin: 0 auto;
}
.item-guns {
    width: 25%;
    padding: 0 2px;
}
.image-gun {
    width: 100%;
    display: inline-block;
}
.guns-title {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    line-height: 60px;
    text-align: center;
    margin-bottom: 10px;
}
